<a href="https://colab.research.google.com/github/yassinehammou27/AAA_intentionally_blank/blob/prep/prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data preparation AAA

In [117]:
import pandas as pd
import os  
os.makedirs('./data', exist_ok=True)

API taken from the Open-Meteo Historical Weather API. For further details and the documentation click the link [here](https://open-meteo.com/en/docs/historical-weather-api)

In [118]:
location_data =  pd.read_csv('https://archive-api.open-meteo.com/v1/archive?latitude=41.85&longitude=-87.65&start_date=2016-01-01&end_date=2016-12-31&temperature_2m,relativehumidity_2m,apparent_temperature,surface_pressure,precipitation,cloudcover,windspeed_10m&format=csv&timezone=CST', nrows=1)
weather_data_hourly = pd.read_csv('https://archive-api.open-meteo.com/v1/archive?latitude=41.85&longitude=-87.65&start_date=2016-01-01&end_date=2016-12-31&hourly=temperature_2m,relativehumidity_2m,apparent_temperature,surface_pressure,precipitation,cloudcover,windspeed_10m&format=csv&timezone=CST', header=2)
weather_data_daily= pd.read_csv('https://archive-api.open-meteo.com/v1/archive?latitude=41.85&longitude=-87.65&start_date=2016-01-01&end_date=2016-12-31&daily=temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,sunset,precipitation_sum,precipitation_hours,windspeed_10m_max&format=csv&timezone=CST', header=2)

In [119]:

weather_data_hourly.to_csv('data/weather_data_daily.csv')
weather_data_hourly

,time,temperature_2m (°C),relativehumidity_2m (%),apparent_temperature (°C),surface_pressure (hPa),precipitation (mm),cloudcover (%),windspeed_10m (km/h)
0,2016-01-01T00:00,-4.0,71,-10.4,1002.8,0.0,14,22.5
1,2016-01-01T01:00,-3.9,72,-10.5,1002.3,0.0,20,23.9
2,2016-01-01T02:00,-3.6,71,-10.3,1001.8,0.0,10,24.7
3,2016-01-01T03:00,-3.9,71,-10.6,1001.6,0.0,14,24.3
4,2016-01-01T04:00,-4.5,73,-11.2,1001.4,0.0,20,24.8
...,...,...,...,...,...,...,...,...
8779,2016-12-31T19:00,0.6,61,-4.8,989.6,0.0,51,16.9
8780,2016-12-31T20:00,0.0,65,-4.8,989.9,0.0,2,13.0
8781,2016-12-31T21:00,-0.6,69,-5.1,990.7,0.0,0,11.2
8782,2016-12-31T22:00,-1.2,71,-5.8,991.7,0.0,0,11.7
8783,2016-12-31T23:00,-1.6,73,-6.4,992.5,0.0,0,12.6

In [120]:
weather_data_hourly.to_csv('data/weather_data_hourly.csv')
weather_data_daily

,time,temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),precipitation_sum (mm),precipitation_hours (h),windspeed_10m_max (km/h)
0,2016-01-01,-0.5,-6.2,-3.2,-6.7,-13.1,-9.7,2016-01-01T08:16,2016-01-01T17:31,0.0,0.0,25.6
1,2016-01-02,1.4,-4.1,-1.6,-4.7,-9.3,-7.4,2016-01-02T08:16,2016-01-02T17:32,0.0,0.0,27.6
2,2016-01-03,-0.3,-3.0,-1.7,-6.2,-9.1,-7.4,2016-01-03T08:16,2016-01-03T17:33,0.0,0.0,22.1
3,2016-01-04,-0.5,-3.1,-2.0,-6.4,-9.0,-7.5,2016-01-04T08:16,2016-01-04T17:34,0.0,0.0,23.3
4,2016-01-05,1.3,-4.8,-2.0,-4.0,-10.4,-7.4,2016-01-05T08:16,2016-01-05T17:35,0.0,0.0,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
361,2016-12-27,-0.2,-3.4,-2.0,-5.8,-9.6,-8.0,2016-12-27T08:15,2016-12-27T17:28,0.0,0.0,28.1
362,2016-12-28,5.5,-3.4,1.1,-0.7,-7.3,-4.2,2016-12-28T08:15,2016-12-28T17:29,0.0,0.0,29.7
363,2016-12-29,1.9,-0.4,0.7,-3.8,-7.3,-5.9,2016-12-29T08:16,2016-12-29T17:30,0.0,0.0,35.5
364,2016-12-30,0.9,-2.7,-0.9,-4.3,-8.9,-7.0,2016-12-30T08:16,2016-12-30T17:30,0.2,1.0,28.5
365,2016-12-31,3.9,-1.6,2.2,-1.9,-6.4,-4.0,2016-12-31T08:16,2016-12-31T17:31,0.0,0.0,33.7

In [121]:
location_data.to_csv('data/location_data.csv')
location_data

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,41.800003,-87.6,179.0,-18000,America/Chicago,CDT